/* OrderedFood.css */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow: auto; /* Enable scrolling for the modal overlay */
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 500px;
    position: relative;
    max-height: 80vh; /* Set maximum height to 80% of viewport */
    overflow-y: auto; /* Enable vertical scrolling within the modal */
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #f44336;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 5px 10px;
}

.food-image {
    width: 100px; /* Adjust width as necessary */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 10px; /* Space below the image */
}
