.pod-detail-container {
  margin: 20px auto;
  max-width: 800px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.pod-image {
  width: 100%;
  height: 100vh;
  margin-bottom: 20px;
}

.btn {
  display: block;
  margin-top: 20px;
}
